doctype html
html(lang='en')
  head
    title AddQuestions
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/main2.css')
    script(src='/js/jquery.js')
    script(src='/js/popper.js')
    script(src='/js/bootstrap.js')
  body
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
      p
        a.nav-link(href='/admin/') QUIZAPP
      ul.navbar-nav
        li.nav-item
          p
            a.navbar-brand(href='/admin/') HOME
        li.nav-item
          p
            a.nav-link(href='#') ABOUT
        li.nav-item
          p
            a.nav-link(href='#') FAQ
    .login-block2
      .container
        .row
          p
            h1 Add Branch
        .row
          form(action='/admin/addbranch', method='post')
            .form-group
              input#que.form-control(name='branch', type='text', value='', placeholder='Enter Branch')
            center
              button.btn.btn-danger(type='submit') Add
        br
        br
        br

        .row 
          p 
            h1 Current Branches
          br
          br
        each branch, i in branches
          h3 #{branch.branch}&nbsp;&nbsp;&nbsp;
            a.btn.btn-danger.removeBranch(data-id="#{branch._id}" href="") Delete
          p#messagetext
  script(type='text/javascript').
    $(document).ready(function(){
        $('.removeBranch').click(function(e){
            deleteId=$(this).data('id');
            $.ajax({
                url:'/admin/deletebranch/'+deleteId,
                type:'DELETE',
                success:function(data){
                  console.log(data);
                  if(data){
                    $(this).style.display = none;
                  }else{
                    $('#messagetext').innerHTML = "some error occured, this branch cannot be deleted";
                  }
                }
            });
            window.location = '/admin/addquiz'
        });
    });
