doctype html
html(lang='en')
  head
    title AddQuestions
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/main2.css')
    script(src='/js/jquery.js')
    script(src='/js/popper.js')
    script(src='/js/bootstrap.js')
  body
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
      p
        a.navbar-brand(href='#') QUIZAPP
      ul.navbar-nav
        li.nav-item
          p
            a.navbar-brand(href='/admin/') HOME
        li.nav-item
          p
            a.nav-link(href='#') ABOUT
        li.nav-item
          p
            a.nav-link(href='#') FAQ
    .login-block2
      .container
        .row
          h1 
            h1#addquizheading  Select Category
          br
          .dropdown
            .addquizmenu
                if cats
                    each cat, i in cats
                        a.btn.btn-danger(href="/admin/viewques/#{cat.cat}") #{cat.cat}
                        br